body {
  margin: 0;

}
#main-container {
  max-width: 1400px;
  margin: auto;
}

.navi {
  display: flex;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.flex-card {
  width: 33%;
  flex: 1 1 30%;
  border: solid grey 1px;
  transition: 0.4s;
  padding: 0 12px 12px 12px;
}
.flex-card>h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
}

.repoInfo {
  height: auto;
  transition: 0.4s;
}
.hidden {
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}
.repoLink {
  display: block;
}
.repoLink {
  color: black;
  text-decoration: none;
  
}
.repoLink:hover {
  color:orange;
}
.repoLink:active, :focus {
  color:orange;
}